@model NaturalCosmeticsECommerce.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Giriş Yap";
}
<h2 class="mb-4"><i class="fas fa-sign-in-alt text-success me-2"></i>@ViewData["Title"]</h2>

<form asp-action="Login" method="post" class="w-100" style="max-width: 500px;">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">E-posta</label>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input asp-for="Email" class="form-control" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Şifre</label>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-check mb-3 ">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label ">Beni Hatırla</label>
    </div>

    <button type="submit" class="btn btn-success w-100">
        <i class="fas fa-sign-in-alt me-1 text-success"></i> Giriş Yap
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
